doctype html
html(lang="en", ng-app="pp-acc-app")
  head
    title Pureprofile Accounts
  body
    h1 Hello World!
    script(type="text/javascript", src="/public/js/lib.js")
    script(type="text/javascript", src="/public/js/pp-acc-app.js")
