.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      a.navbar-brand.animated-hinge.bounceInDown(href="/") Pureprofile
    ul.nav.navbar-nav.navbar-right
      li 
        a(href="#!/accounts") Accounts

